n8n/workflows/send-magic-link-login.json
{
  "name": "Send Magic Link for Login",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-magic-link",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "send-magic-link"
    },
    {
      "parameters": {
        "jsCode": "// Validate and extract email from request\nconst payload = $input.item.json;\n\nif (!payload.email || typeof payload.email !== 'string') {\n  throw new Error('Email is required');\n}\n\nreturn {\n  email: payload.email.trim().toLowerCase(),\n  magicLink: payload.magicLink,\n  type: payload.type || 'login'\n};"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "operation": "equals",
              "value2": "login"
            }
          ]
        }
      },
      "id": "check-type",
      "name": "Check Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@yourdomain.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Your sign-in link",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .button { display: inline-block; padding: 12px 24px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px; margin: 20px 0; }\n    .button:hover { background-color: #0056b3; }\n    .warning { background-color: #fff3cd; border: 1px solid #ffc107; padding: 15px; border-radius: 5px; margin: 20px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Sign in to your account</h1>\n    <p>Click the button below to sign in:</p>\n    <a href=\"{{ $json.magicLink }}\" class=\"button\">Sign In</a>\n    <div class=\"warning\">\n      <strong>Security Notice:</strong> If you didn't request this link, please ignore this email.\n    </div>\n    <p style=\"margin-top: 30px; font-size: 12px; color: #666;\">\n      If the button doesn't work, copy and paste this link:<br>\n      <a href=\"{{ $json.magicLink }}\" style=\"word-break: break-all;\">{{ $json.magicLink }}</a>\n    </p>\n    <p style=\"font-size: 12px; color: #666;\">\n      This link expires in 1 hour.\n    </p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-login-email",
      "name": "Send Login Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 200],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@yourdomain.com",
        "toEmail": "={{ $json.email }}",
        "subject": "You've been invited",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .button { display: inline-block; padding: 12px 24px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px; margin: 20px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>You've been invited!</h1>\n    <p>Click the button below to accept your invitation:</p>\n    <a href=\"{{ $json.magicLink }}\" class=\"button\">Accept Invitation</a>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-invite-email",
      "name": "Send Invite Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 400],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Email sent to \" + $json.email } }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Type": {
      "main": [
        [
          {
            "node": "Send Login Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Invite Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Login Email": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invite Email": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-29T00:00:00.000Z",
  "versionId": "1"
}
